extends layout.pug

block content
   div(id="result-body")
      h1=name
      h2 All Results
      each exercise in exercises
         div(class="exercise-div")
            h3=exercise.Name
            p Easy: #{exercise.Easy} reps
            p Medium: #{exercise.Medium} reps
            p Hard: #{exercise.Hard} reps