extends layout.pug

block content
   div(id="result-body")
      h1=name
      h2 All Results
      each exercise in exercises
         h3=exercise.Name
         p Easy #{exercise.Easy}
         p Medium #{exercise.Medium}
         p Hard #{exercise.Hard}