html
   head
      title Jacob
      link(rel="stylesheet" href="styles.css")
   body(id="result-body")
      a(href="/") Home
      h1=name
      h2 All Results
      each exercise in exercises
         h3=exercise.Name
         p=exercise.Easy
         p=exercise.Medium
         p=exercise.Hard